.modal-title {
    font-family: "Proxima Nova - Semibold";
    font-weight: 500;
    font-size: 16px;
    color: #716a85;
    margin-top: 5px;
    margin-bottom: 15px;
}


    .main_out .best {
    padding-left: 44px;
    position: relative;
}

.block_name {
    color: #black;
    font-family: "Proxima Nova";
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
	
}

.right {
	width: 50%;
	opacity: 0,8;
	margin-top: -150px;
	margin-bottom: -150px;
	margin-left: auto;
	margin-right: auto;
	}
	
.search {
	 margin-top: 10px;
width: 100%;
  padding: 10px 0 5px;
  color: #333333;
  border: none;
  box-shadow: none;
  font-size: 20px;
  line-height: 1.43;
  opacity: 1;
  cursor: text;
  left: 0;
  background-color: transparent;
  outline-color: transparent;
  border-bottom: 1px solid #aaaaaa;
}

.modal-block {
    display: none;
    background-image: #aaaaaa !important;
    background-size: cover !important;
    cursor: default !important;
}

.modal-button {
    
    max-width: 340px;
    font-family: "Proxima Nova - Semibold";
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(to bottom, #09f, #0bf, #0ff);
    color: #fff;
    text-transform: uppercase;
    padding: 12px 30px;
    cursor: pointer;
    border: none;
    border-radius: 2em;
    margin: 35px auto 0 auto;
    transition: .25s;
	text-align: center;
}

